.banner-secondary {
  margin-top: 50px;
  padding: 3rem 1rem;
  background: transparent url(../img/background-slide.jpg) scroll no-repeat
    center/ cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 5rem 1rem;
  background: white;
  text-align: center;
  font-size: 1rem;

  .pdf-link {
    text-decoration: none;
    transition: all ease 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    .img-brand {
      margin-top: 10rem;
    }

    .download-text {
      font-weight: bold;
      font-size: 37px;
      line-height: 1.5;
      color: #e4b533;
      margin-bottom: 3rem;
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;

    .back-link {
      text-decoration: none;
      color: black;
      transition: all ease 0.3s;

      &:hover {
        transform: scale(1.1);
      }

      img {
        margin-right: 1rem;
      }
    }
  }
}
