<section class="bg-codered h-section">
  <div class="container" style="padding-top: 13rem;">
    <div class="row h-100 align-items-center rotator">
      <div class="col-lg-6 col-md-6 col-sm-6 col-6">
        <ul class="ray-bullet text-white">
          <li class="d-flex align-items-center">
            Sistema eléctrico planta
          </li>
          <li class="d-flex align-items-center">
            Diagramas Unifilares
          </li>
          <li class="d-flex align-items-center">
            Estudios de coordinación <br />
            de protecciones & CC
          </li>
          <li class="d-flex align-items-center">Corrección de F.P.</li>
          <li class="d-flex align-items-center">
            Procedimientos de operación
          </li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-center">
        <img src="img/icon_people.png" alt="" />
      </div>
    </div>
  </div>
</section>
